@{
    ViewData["Title"] = "Home Page";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TALLER DE PROCESOS</title>
    <link rel="stylesheet" href="Styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<body class="row">
    <header class="row justify-content-center" style="padding-left: -250px;">
        <div class="col-6 text-center d-flex align-items-center">
            <a target="blank" href="https://www.usmp.edu.pe/"><img class="container" src="imagenes/usmp.png" style="width: 95%;"></a>
        </div>
        <div class="col-6 text-center d-flex align-items-center">
            <h1 class="container" style="font-family: arial; font-size: 200%; color: black">TALLER DE PROYECTOS 2023-I</h1>
        </div>
    </header>
</body>


</html>



